{% extends "base.html" %}

{% load static %}

{% block design %}
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

    <div class="container row col-md-12 d-flex justify-content-center align-items-center m-auto">

        <div class="text col-md-6 p-lg-3">
            <h1>Welcome to Burger Haven: Indulge in Culinary Delight!</h1>
<p>Indulge your taste buds with our delectable burgers! Each creation is a symphony of tastes, featuring succulent patties and the finest, freshest ingredients. Immerse yourself in the pinnacle of burger perfection.</p>
        </div>
        <div class="img-box col-md-6"><img class="img-fluid w-100 m-5 " src="{% static 'images/burger.png' %}" alt=""></div>
    </div>

{%endblock%}